.left-side, .right-side {
    flex: 1;
    padding: 20px;
    margin-top: 20px;
}

/* Right side styling */
.right-side {
    margin-left: 10px;
    text-align: left;
    background-color: #f9f9f9; /* Light background color */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px var(--shadow-light);
}

/* Left side styling */
.left-side {
    /*border-right: 2px solid #ddd;*/
    margin-right: 10px;
    text-align: left;
}

.right-side h1 {
    color: var(--text-dark);
    font-size: var(--font-size-very-large);
    font-weight: bold;
    display: flex;
    height: 100%;
    font-family: var(--font-tertiary);
}

.right-side h2 {
    color: var(--text-dark);
    font-size: var(--font-size-large);
    font-weight: bold;
    display: flex;
    height: 100%;
    font-family: var(--font-tertiary);
}

.right-side h3 {
    color: var(--text-dark);
    font-size: 25px;
    font-weight: bold;
    display: flex;
    height: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-family: var(--font-tertiary);
}

.right-side p {
    color:#4d4040;
    font-size: var(--font-size-medium);
    font-family: var(--font-primary);
}

.right-side li {
    color:#4d4040;
    font-size: var(--font-size-medium);
    font-family: var(--font-primary);
}

/* Profile image */
.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px var(--shadow-dark);
}

.paragraph-under-image {
    color: #8d8888;
    font-family: var(--font-primary);
    font-size: var(--font-size-medium);
}

.paragraph-under-h2 {
    color: #8d8888;
    font-size: var(--font-size-small);
    margin-top: 0;
    font-family: var(--font-primary);
}

/* Button container */
.button-container {
    margin-top: 20px;
}

.button-container button {
    font-size: var(--font-size-small);
    padding: 10px 20px;
    cursor: pointer;
    border: 2px solid var(--button-background);
    background-color: var(--button-background);
    color: white;
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-container button:hover {
    background-color: var(--button-background-hover);
    transform: translateY(-2px);
}

/* Download button container */
.download-button-container {
    max-width: 380px;
    display: flex;
    margin-top: 20px;
}

.download-button {
    flex: 1;
    padding: 10px 20px;
    background-color: #888888;
    color: white;
    text-decoration: none;
    text-align: center;
    border: 1px solid #888888;
    border-radius: 5px 0 0 5px;
}

.download-button:last-of-type {
    border-radius: 0 5px 5px 0;
}

.download-button:hover {
    background-color: #555555;
    border-color: #555555;
}